<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--activerecord Start-->
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <activerecord>
    <!--isWeb="true"-->
    <config>
      <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
      <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="hibernate.connection.connection_string" value="UID=sa;Password=dirrid;Initial Catalog=CheckFlowData;Data Source=192.168.2.24\sql2005" />
    </config>
  </activerecord>
  <!--activerecord End  CheckFlowData -->
  <!--日志-->
  <log4net>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="server=192.168.2.24\sql2005;database=CheckFlowData;uid=sa;pwd=dirrid;" />
      <commandText value="if @logger!='NHibernate.Persister.GetSetHelperFactory' begin INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[Context]) VALUES           (@log_date, @thread, @log_level, @logger, @message, @exception, @context) end " />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@context" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%x" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%c" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="Error" />
      <appender-ref ref="ADONetAppender" />
    </root>
  </log4net>
  <!--</log4net> End-->
  <appSettings>
    <add key="System_MailServerUserName" value="21473216_temp" />
    <add key="System_MailServerPassWord" value="21473233_temp" />
    <add key="System_MailServerSmtp" value="smtp.hdsz.hitachi-displays.com" />
    <add key="System_FromEMail" value="webadmin@sz.e.j-displays.com" />
    <add key="System_FromName" value="经费预实算系统" />
    <add key="System_MaxThreadCount" value="10" />
    <add key="upfileForBudget" value="UpFileForBudget" />
    <add key="ApplyAnnexUpFile" value="\\192.168.2.17\HDSZCheckFlow\ApplyAnnexUpFiles" />
    <add key="ApplyAnnexUpFileForFinallyCheck" value="\\192.168.2.17\HDSZCheckFlow\FinallyCheckAnnexUpFiles" />
    <add key="PressCode" value="jinji" />
    <add key="PressMaxMoney" value="3000" />
    <add key="InCorntType" value="1" />
    <add key="OutCorntType" value="2" />
    <add key="PressType" value="3" />
    <add key="dingdan" value="dd" />
    <add key="Banquet" value="105" />
    <add key="Evection" value="103" />
    <add key="Asset" value="107" />
    <add key="FinallyPriceCheckApplyMaker" value="084150" />
    <add key="Administrator" value="zheng-yuanqiang@sz.e.j-displays.com" />
    <add key="AccBook" value="CBT100101" />
    <add key="judge" value="0.3" />
    <add key="SubmitType" value="101,201" />
    <add key="FinallyPriceCheckFlow" value="152" />
    <add key="ZongJingLiCode" value="160325" />
    <add key="ZongJingLiCheckFlow" value="520" />
    <!--一键维护使用金额 liyang 2012-06-12-->
    <add key="CheckMoney" value="20"/>
    <add key="xpGridConnectionString" value="PROVIDER=SQLOLEDB;DATA SOURCE=192.168.2.24\sql2005;UID=sa;PWD=dirrid;DATABASE=CheckFlowData;connect timeout=120" />
    <add key="ConnectionString" value="server=192.168.2.24\sql2005;database=CheckFlowData;uid=sa;pwd=dirrid;" />
    <add key="NoRightPage" value="/NoRight.htm" />
    <add key="DefaultImage" value="/xpgrid/HenryAdd/NoPicture.bmp" />
    <add key="ImagePage" value="/xpgrid/HenryAdd/MyShowImage.aspx" />

    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>

  <system.web>
    <!--  动态调试编译

          设置 compilation debug="true" 以将调试符号(.pdb 信息)
          插入到编译页中。因为这将创建执行起来

          较慢的大文件，所以应该只在调试时将该值设置为 true，而所有其他时候都设置为

          false。有关更多信息，请参考有关

          调试 ASP.NET 文件的文档。 <pages enableEventValidation="false"/>

    -->


    <compilation defaultLanguage="vb" debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
    </compilation>
    <!--  自定义错误信息

          设置 customErrors mode="On" 或 "RemoteOnly" 以启用自定义错误信息，或设置为 "Off" 以禁用自定义错误信息。 
          为每个要处理的错误添加 <error> 标记。


          "On" 始终显示自定义(友好的)信息。

          "Off" 始终显示详细的 ASP.NET 错误信息。

          "RemoteOnly" 只对不在本地 Web 服务器上运行的

           用户显示自定义(友好的)信息。出于安全目的，建议使用此设置，以便 
           不向远程客户端显示应用程序的详细信息。

    -->
    <customErrors defaultRedirect="AppSystem/SysPage/MyErrorPage.Aspx" mode="Off" />
    <!--  身份验证 
          此节设置应用程序的身份验证策略。可能的模式是 "Windows"、 
          "Forms"、 "Passport" 和 "None"

          "None" 不执行身份验证。 
          "Windows" IIS 根据应用程序的设置执行身份验证 
            (基本、简要或集成 Windows)。在 IIS 中必须禁用匿名访问。

          "Forms" 您为用户提供一个输入凭据的自定义窗体(Web 页)，然后 
           在您的应用程序中验证他们的身份。用户凭据标记存储在 Cookie 中。

          "Passport" 身份验证是通过 Microsoft 的集中身份验证服务执行的，

           它为成员站点提供单独登录和核心配置文件服务。

    -->
    <authentication mode="Forms">
      <forms name="CheckFlow" loginUrl="Login.aspx" timeout="500" protection="All" path="/" />
    </authentication>
    <!--  授权 
           此节设置应用程序的授权策略。可以允许或拒绝不同的用户或角色访问
          应用程序资源。通配符: "*" 表示任何人，"?" 表示匿名
          (未经身份验证的)用户。

    -->
    <authorization>
      <deny users="?" />
      <!-- 允许所有用户 -->
      <!--  <allow     users="[逗号分隔的用户列表]"
                             roles="[逗号分隔的角色列表]"/>
            <deny      users="[逗号分隔的用户列表]"
                             roles="[逗号分隔的角色列表]"/>
            -->
    </authorization>
    <!--  应用程序级别跟踪记录
          应用程序级别跟踪为应用程序中的每一页启用跟踪日志输出。

          设置 trace enabled="true" 可以启用应用程序跟踪记录。如果 pageOutput="true"，则
          在每一页的底部显示跟踪信息。否则，可以通过浏览 Web 应用程序
           根目录中的 "trace.axd" 页来查看
          应用程序跟踪日志。

    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  会话状态设置

          默认情况下，ASP.NET 使用 Cookie 来标识哪些请求属于特定的会话。

          如果 Cookie 不可用，则可以通过将会话标识符添加到 URL 来跟踪会话。

         若要禁用 Cookie，请设置 sessionState cookieless="true"。

    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60"/>
    <httpModules>
      <add name="XpGridHttpModule" type="XPGrid.HttpModule.XpGridHttpModule, xpGrid"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
      <add verb="*" path="Image.aspx" type="XPGrid.Images.ImageHandler, XPGrid"/>
      <add verb="*" path="XGetCodesByEditFormat.aspx" type="XPGrid.QueryPart.XML.XGetCodesByEditFormatHandler, XPGrid"/>
      <add verb="*" path="XGetConditionIDBySuiteID.aspx" type="XPGrid.QueryPart.XML.XGetConditionIDBySuiteIDHandler, XPGrid"/>
      <add verb="*" path="XGetFieldByID.aspx" type="XPGrid.QueryPart.XML.XGetFieldByIDHandler, XPGrid"/>
      <add verb="*" path="XGetLookListByFID.aspx" type="XPGrid.QueryPart.XML.XGetLookListByFIDHandler, XPGrid"/>
      <add verb="*" path="XGetFieldsByTable.aspx" type="XPGrid.QueryPart.XML.XGetFieldsByTableHandler, XPGrid"/>
      <add verb="*" path="XGetOperatorByGroup.aspx" type="XPGrid.QueryPart.XML.XGetOperatorByGroupHandler, XPGrid"/>
      <add verb="*" path="XGetSaverListByUser.aspx" type="XPGrid.QueryPart.XML.XGetSaverListByUserHandler, XPGrid"/>
      <add verb="*" path="XGetSaverResultByID.aspx" type="XPGrid.QueryPart.XML.XGetSaverResultByIDHandler, XPGrid"/>
      <add verb="*" path="xpGrid_GetLookupInfo.aspx" type="XPGrid.Public.GetLookupInfoHandler, XPGrid"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <!--  全球化

          此节设置应用程序的全球化设置。

    -->
    <globalization requestEncoding="GB2312" responseEncoding="GB2312" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <xhtmlConformance mode="Legacy" />
  </system.web>

  <system.webServer>

    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="XPGrid" path="XGetLookListByFID.aspx" verb="*" type="XPGrid.QueryPart.XML.XGetLookListByFIDHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="XPGrid.XGetFieldsByTable" path="XGetFieldsByTable.aspx" verb="*" type="XPGrid.QueryPart.XML.XGetFieldsByTableHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="XPGrid.XGetOperatorByGroup" path="XGetOperatorByGroup.aspx" verb="*" type="XPGrid.QueryPart.XML.XGetOperatorByGroupHandler" resourceType="Unspecified" preCondition="integratedMode" />

      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>

    <validation validateIntegratedModeConfiguration="false" />

    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <defaultDocument>
      <files>
        <add value="CheckFlowsystem.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>


  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>